{{>header}}
    {{>logo}}
    <section class="row justify-content-center align-items-center container mx-auto">
        <p class="my-5 fs-4 col-md-6 m-0">{{pageContent}}</p>
        <div class="col-md-2"><a href="/" class="btn btn-primary width">Back</a></div>
    </section>
{{>footer}}
