    <footer class="bg-dark container-fluid text-center py-3 text-white-50 position-fixed bottom-0 on"> Made With Love By Ismail Alrewany </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="/js/custom.js"></script>
</body>
</html>