<nav class="bg-white container-fluid m-0 nav-light border-bottom border shadow p-3 text-dark fs-3 sticky-top selection text-center row on">
    <span class="col-md-3 col-lg-6 text-center text-md-start">To Do List</span>
    <form class="d-flex search col-md-9 col-lg-6 sm-center mt-3 mt-md-0" action="/search" method="get">
        <input type="search" class="border-bottom" placeholder="Search Here!" name="search">
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
</nav>